
body{
	margin: 0px auto;
	max-width: 1078px;
	min-height: 1078px;
}


header img {
	margin-left: 10px;
}

header section article {

}

header nav {
	margin-bottom:  60px;
}

header nav ul li{
 display: inline-block;
 margin-top: 20px;
 margin-left: -33px;
 padding-right: 90px;
}



#buy{	
	
	
	
	
}

.caja{
	border-bottom: 2px dashed green;
}

#gotoshop{
	float: right;
}

#otraSeccion article {
	margin-top: 30px;
	display: inline-block;
}

#otraSeccion article img {
	padding-left: 15px;
}

#seccionTexto {
	margin-top: 30px;
}

#seccionTitulos {
	margin-top: 5px;
}

.colorverde {
	color: #8BC500;
}

.imagensmaller{
	width: 2%;
	left: 355px;
	margin-top: : 10px;
	position: relative;

}

.imagensmall{
	width: 5%;

}

.letragrande {
	font-size: 3.5em;
}

.nito {
	font-weight: bold;
}






